<div class="font-[poppins] bg-gray-50 flex justify-center">

  <div [formGroup]="deathForm" class="w-full bg-white px-4 sm:px-8 md:px-12 lg:px-20 py-10 rounded-2xl">

    <!-- ================= HEADER ================= -->
    <div class="text-center mb-10">
      <h1 class="text-2xl md:text-3xl font-semibold text-blue-900">
        Death Registration Form
      </h1>
    </div>

    <!-- ================= ADMIN ================= -->
    <div class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">
        Administrative Section
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

        <div class="relative">
          <input type="number" formControlName="id" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">ID</label>
        </div>

        <div class="relative">
          <input type="text" formControlName="document_type" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Document
            Type</label>
        </div>

        <div class="relative">
          <input type="text" formControlName="form_number" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Form
            Number</label>
        </div>

        <div class="relative">
          <input type="text" formControlName="legal_reference" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Legal
            Reference</label>
        </div>

        <div class="relative">
          <input type="text" formControlName="aadhaar_number" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Aadhaar
            Number</label>
        </div>

      </div>

      <div class="flex gap-8 mt-6">

        <label class="flex items-center gap-2">
          <input type="checkbox" formControlName="statistical_declaration" class="accent-blue-900">
          Statistical Declaration
        </label>

        <label class="flex items-center gap-2">
          <input type="checkbox" formControlName="government_seal_present" class="accent-blue-900">
          Govt Seal Present
        </label>

        <label class="flex items-center gap-2">
          <input type="checkbox" formControlName="office_stamp_present" class="accent-blue-900">
          Office Stamp Present
        </label>

      </div>

    </div>

    <!-- ================= DECEASED DETAILS ================= -->
    <div formGroupName="deceased_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">
        Administrative Section
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

        <div class="relative">
          <input type="text" formControlName="name_of_deceased" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Name
            of Deceased</label>
        </div>

        <div class="relative">
          <input type="date" formControlName="date_of_death" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Date
            of Death</label>
        </div>

        <div class="relative">
          <input type="text" formControlName="time_of_death" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Time
            of Death</label>
        </div>

      </div>

      <!-- Gender -->
      <div formGroupName="sex" class="mt-6 flex gap-8">
        <label><input type="checkbox" formControlName="male"> Male</label>
        <label><input type="checkbox" formControlName="female"> Female</label>
        <label><input type="checkbox" formControlName="other"> Other</label>
      </div>

      <!-- Age -->
      <div formGroupName="age_at_death" class="grid grid-cols-3 gap-6 mt-6 max-w-lg">
        <input type="number" formControlName="years" placeholder="Years"
          class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
        <input type="number" formControlName="months" placeholder="Months"
          class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
        <input type="number" formControlName="days" placeholder="Days"
          class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-6">

        <div class="relative">
          <input type="text" formControlName="marital_status" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Marital
            Status</label>
        </div>

        <div class="relative">
          <input type="text" formControlName="spouse_name" placeholder=" "
            class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label
            class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900 peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs bg-white px-2">Spouse
            Name</label>
        </div>

      </div>

    </div>

    <!-- ================= RESIDENCE ================= -->
    <div formGroupName="residence_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">
        Residence Details
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

        <!-- House Number -->
        <div class="relative">
          <input type="text" formControlName="house_number" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
        focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
        peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
        peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
        peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
        bg-white px-2">
            House No
          </label>
        </div>

        <!-- Street Area -->
        <div class="relative">
          <input type="text" formControlName="street_area" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
        focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
        peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
        peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
        peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
        bg-white px-2">
            Street Area
          </label>
        </div>

        <!-- Village -->
        <div class="relative">
          <input type="text" formControlName="village_town" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
        focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
        peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
        peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
        peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
        bg-white px-2">
            Village / Town
          </label>
        </div>

        <!-- Taluka -->
        <div class="relative">
          <input type="text" formControlName="taluka" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
        focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
        peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
        peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
        peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
        bg-white px-2">
            Taluka
          </label>
        </div>

        <!-- District -->
        <div class="relative">
          <input type="text" formControlName="district" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
        focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
        peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
        peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
        peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
        bg-white px-2">
            District
          </label>
        </div>

        <!-- State -->
        <div class="relative">
          <input type="text" formControlName="state" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
        focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">
          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
        peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
        peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
        peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
        bg-white px-2">
            State
          </label>
        </div>

      </div>

    </div>


    <!-- ================= PLACE OF DEATH ================= -->
    <div formGroupName="place_of_death_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Place of Death</h2>

      <div formGroupName="place_type" class="flex gap-8 mb-6">
        <label><input type="checkbox" formControlName="hospital"> Hospital</label>
        <label><input type="checkbox" formControlName="home"> Home</label>
        <label><input type="checkbox" formControlName="other"> Other</label>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Hospital Name -->
        <div class="relative">
          <input type="text" formControlName="hospital_name" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Hospital Name
          </label>
        </div>

        <!-- Address of Place -->
        <div class="relative sm:col-span-2">
          <input type="text" formControlName="address_of_place" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Address of Place
          </label>
        </div>

      </div>


    </div>

    <!-- ================= SOCIAL ================= -->
    <div formGroupName="social_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Social Details</h2>

      <div formGroupName="religion" class="flex gap-6 mb-6">
        <label><input type="checkbox" formControlName="hindu"> Hindu</label>
        <label><input type="checkbox" formControlName="muslim"> Muslim</label>
        <label><input type="checkbox" formControlName="christian"> Christian</label>
        <label><input type="checkbox" formControlName="other"> Other</label>
      </div>

      <div class="relative w-1/3">

        <input type="text" formControlName="occupation" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
    focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

        <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
    peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
    peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
    peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
    bg-white px-2">
          Occupation
        </label>

      </div>

    </div>

    <!-- ================= MEDICAL ================= -->
    <div formGroupName="medical_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Medical Details</h2>



      <div formGroupName="type_of_medical_institution" class="flex gap-6 mb-4">
        <label>
          <input type="checkbox" formControlName="medical_attention_received">
          Medical Attention Received
        </label>
        <label><input type="checkbox" formControlName="government"> Govt</label>
        <label><input type="checkbox" formControlName="private"> Private</label>
        <label><input type="checkbox" formControlName="none"> None</label>
      </div>



      <div formGroupName="cause_of_death" class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Doctor Name + Duration -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">

          <!-- Doctor Name -->
          <div class="relative">
            <input type="text" formControlName="doctor_name" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

            <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
              Doctor Name
            </label>
          </div>

          <!-- Duration of Illness -->
          <div class="relative">
            <input type="text" formControlName="duration_of_illness" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

            <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
              Duration of Illness
            </label>
          </div>

        </div>


        <!-- Cause of Death -->
        <div formGroupName="cause_of_death" class="grid grid-cols-1 sm:grid-cols-2 gap-6">

          <!-- Primary Cause -->
          <div class="relative">
            <input type="text" formControlName="primary_cause" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

            <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
              Primary Cause
            </label>
          </div>

          <!-- Secondary Cause -->
          <div class="relative">
            <input type="text" formControlName="secondary_cause" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

            <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
              Secondary Cause
            </label>
          </div>

        </div>

      </div>

    </div>

    <!-- ================= STATISTICAL ================= -->
    <div formGroupName="statistical_information" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Statistical Information</h2>

      <div formGroupName="type_of_medical_institution" class="flex gap-6 mb-4">
        <label><input type="checkbox" formControlName="medically_certified"> Medically Certified</label>
        <label><input type="checkbox" formControlName="post_mortem_conducted"> Post Mortem Conducted</label>
      </div>


    </div>

    <!-- ================= INFORMANT ================= -->
    <div formGroupName="informant_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Informant Details</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Name -->
        <div class="relative">
          <input type="text" formControlName="name" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Name
          </label>
        </div>

        <!-- Relationship -->
        <div class="relative">
          <input type="text" formControlName="relationship_to_deceased" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Relationship
          </label>
        </div>

        <!-- Address -->
        <div class="relative">
          <input type="text" formControlName="address" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Address
          </label>
        </div>

      </div>

      <div formGroupName="type_of_medical_institution" class="flex gap-6 mt-4">
        <label>
          <input type="checkbox" formControlName="signature_present">
          Signature Present
        </label>
      </div>



    </div>

    <!-- ================= REGISTRATION ================= -->
    <div formGroupName="registration_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Registration Details</h2>



      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Registration Number -->
        <div class="relative">
          <input type="text" formControlName="registration_number" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Registration Number
          </label>
        </div>

        <!-- Registration Date -->
        <div class="relative">
          <input type="date" formControlName="registration_date" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Registration Date
          </label>
        </div>

        <!-- Registration Year -->
        <div class="relative">
          <input type="number" formControlName="registration_year" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Registration Year
          </label>
        </div>

        <!-- Registration Unit Code -->
        <div class="relative">
          <input type="text" formControlName="registration_unit_code" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Registration Unit Code
          </label>
        </div>

        <!-- Local Body -->
        <div class="relative">
          <input type="text" formControlName="local_body_name" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Local Body Name
          </label>
        </div>

        <!-- Registrar Name -->
        <div class="relative">
          <input type="text" formControlName="registrar_name" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Registrar Name
          </label>
        </div>

      </div>

    </div>

    <!-- ================= LOCATION ================= -->
    <div formGroupName="registration_location_details" class="mb-10">

      <h2 class="text-xl font-semibold text-blue-900 mb-6">Registration Location</h2>


      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- District -->
        <div class="relative">
          <input type="text" formControlName="district" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            District
          </label>
        </div>

        <!-- Taluka -->
        <div class="relative">
          <input type="text" formControlName="taluka" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Taluka
          </label>
        </div>

        <!-- Village -->
        <div class="relative">
          <input type="text" formControlName="village" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Village
          </label>
        </div>

        <!-- Registration Office -->
        <div class="relative sm:col-span-2 lg:col-span-3">
          <input type="text" formControlName="registration_office_name" placeholder=" " class="peer w-full border border-gray-300 rounded-md px-4 py-3 bg-white
      focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200">

          <label class="absolute left-4 top-4 text-gray-900 text-sm transition-all duration-200
      peer-focus:-top-2 peer-focus:text-xs peer-focus:text-blue-900
      peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm
      peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs
      bg-white px-2">
            Registration Office Name
          </label>
        </div>

      </div>


    </div>

    <!-- SAVE -->
    <button (click)="onSave()" class="bg-blue-900 text-white px-6 py-3 rounded-md shadow">
      Save Record
    </button>

  </div>
</div>