<div class="font-[poppins] bg-gray-50 flex justify-center">

  <div [formGroup]="taxForm" class="w-full bg-white px-4 sm:px-8 md:px-12 lg:px-20 py-10 sm:py-14 md:py-16 rounded-2xl">

    <!-- HEADER -->
    <div class="text-center mb-12">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-semibold text-blue-900 tracking-wide">
        {{'propertyTax.title' | translate}}
      </h1>

      <div
        class="mt-4 flex flex-col sm:flex-row justify-center items-stretch sm:items-center gap-2 sm:gap-2 w-full max-w-lg mx-auto">

        <!-- CREATE MODE → Show Selection -->
        <ng-container *ngIf="!isEditMode && !yearConfirmed">
          <span>{{'propertyTax.financialYear.from' | translate}}</span>

          <select [(ngModel)]="fromYear" [ngModelOptions]="{standalone: true}"
            class="w-full sm:w-auto border border-gray-300 rounded-sm px-6 py-1 text-sm sm:text-base text-gray-600">

            <option value="" disabled>{{'propertyTax.financialYear.startYear' | translate}}</option>

            <option *ngFor="let year of financialYears" [value]="year">
              {{ year }}
            </option>

          </select>

          <span>{{'propertyTax.financialYear.to' | translate}}</span>

          <select [(ngModel)]="toYear" [ngModelOptions]="{standalone: true}"
            class="w-full sm:w-auto border border-gray-300 rounded-sm px-6 py-1 text-sm sm:text-base text-gray-600">

            <option value="" disabled>{{'propertyTax.financialYear.endYear' | translate}}</option>

            <option *ngFor="let year of financialYears" [value]="year">
              {{ year }}
            </option>

          </select>


          <button (click)="confirmYear()" class="w-full sm:w-auto mx-3 bg-blue-900 text-white px-4 py-2 text-sm
      rounded-md hover:opacity-100 opacity-90 transition">
            {{'propertyTax.financialYear.confirm' | translate}}
          </button>
        </ng-container>

        <!-- EDIT MODE OR CONFIRMED → Show Text Only -->
        <ng-container *ngIf="isEditMode || yearConfirmed">
          <p class="text-gray-900 text-base sm:text-base text-center">
            {{'propertyTax.financialYear.label' | translate}}
            <span class="font-semibold text-blue-900">
              {{ fromYear }} <span class="font-light">to</span> {{ toYear }}
            </span>
          </p>
        </ng-container>

      </div>


    </div>


    <!-- Administrative Details -->
    <div class="mb-12">
      <h2 class="text-lg sm:text-xl font-semibold text-blue-900 mb-5">
        {{'propertyTax.sections.administrative' | translate}}
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-8">

        <!-- 1 -->
        <div class="relative">
          <input formControlName="gramPanchayath" type="text" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.gramPanchayath' | translate}}
          </label>
        </div>

        <!-- 2 -->
        <div class="relative">
          <input type="text" formControlName="village" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.village' | translate}}
          </label>
        </div>

        <!-- 3 -->
        <div class="relative">
          <input type="text" formControlName="taluka" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.taluka' | translate}}
          </label>
        </div>

        <!-- 4 -->
        <div class="relative">
          <input type="text" formControlName="district" placeholder=" " class=" peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.district' | translate}}
          </label>
        </div>

      </div>
    </div>

    <!-- ================= BASIC PROPERTY DETAILS ================= -->
    <div class="mb-12">
      <h2 class="text-lg sm:text-xl font-semibold text-blue-900 mb-5">
        {{'propertyTax.sections.basicProperty' | translate}}
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-8">

        <!-- 1 -->
        <div class="relative">
          <input formControlName="sno" type="number" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.sno' | translate}}
          </label>
        </div>

        <!-- 2 -->
        <div class="relative">
          <input type="text" formControlName="roadName" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.roadName' | translate}}
          </label>
        </div>

        <!-- 3 -->
        <div class="relative">
          <input type="text" formControlName="groupNo" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.groupNo' | translate}}
          </label>
        </div>

        <!-- 4 -->
        <div class="relative">
          <input type="text" formControlName="propertyNo" placeholder=" " class=" peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.propertyNo' | translate}}
          </label>
        </div>

        <!-- 5 -->
        <div class="relative">
          <input type="text" formControlName="owner" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm 

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.owner' | translate}}
          </label>
        </div>

        <!-- 6 -->
        <div class="relative">
          <input type="text" formControlName="occupantName" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            O{{'propertyTax.fields.occupantName' | translate}}
          </label>
        </div>

        <!-- 7 -->
        <div class="relative sm:col-span-2">
          <input type="text" formControlName="propertyDescription" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">
            {{'propertyTax.fields.propertyDescription' | translate}}
          </label>
        </div>

      </div>
    </div>

    <!-- ================= AREA & VALUATION DETAILS ================= -->
    <div class="mb-12">
      <h2 class="text-lg sm:text-xl font-semibold text-blue-900 mb-5">
        {{'propertyTax.sections.areaValuation' | translate}}
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-8">

        <!-- 8–14 -->
        <div class="relative">
          <input type="number" formControlName="constructionYear" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.constructionYear' | translate}}</label>
        </div>

        <div class="relative">
          <input type="number" formControlName="area" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.area' | translate}}</label>
        </div>

        <div class="relative">
          <input type="number" formControlName="landArea" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.landArea' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="buildingArea" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.buildingArea' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="ratePerSqm" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.ratePerSqm' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="taxRatePercent" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.taxRatePercent' | translate}}</label>
        </div>
        <div class="relative">
          <input type="text" formControlName="usageType" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.usageType' | translate}}</label>
        </div>

      </div>
    </div>

    <!-- ================= TAX BREAKDOWN ================= -->
    <div class="mb-12">
      <h2 class="text-lg sm:text-xl font-semibold text-blue-900 mb-5">
        {{'propertyTax.sections.taxBreakdown' | translate}}
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-12 gap-y-8">

        <!-- 15–27 -->
        <div class="relative">
          <input type="number" formControlName="capitalValue" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.capitalValue' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="ratePercent" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.rate' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="houseTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.houseTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="lightingTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.lightingTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="healthTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.healthTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="waterTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.waterTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="totalTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.totalTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="previousBalance" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.previousBalance' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="currentYearTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.currentYearTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="additionalTax" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.additionalTax' | translate}}</label>
        </div>
        <div class="relative">
          <input type="number" formControlName="penaltyInterest" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" /><label
            class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.penaltyInterest' | translate}}</label>
        </div>

        <div class="relative">
          <input type="number" formControlName="grandTotal" placeholder=" " class="peer w-full text-gray-600 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.grandTotal' | translate}}
          </label>
        </div>

        <div class="relative sm:col-span-4">
          <input type="text" formControlName="remarks" placeholder=" " class="peer w-full text-gray-600 h-40 border border-gray-300 rounded-md px-4 py-3 bg-white shadow-sm
            focus:outline-none focus:ring-1 focus:ring-blue-900 focus:border-blue-900 transition duration-200" />
          <label class="absolute left-4 top-4 text-gray-900 text-sm sm:text-base

            transition-all duration-200 ease-in-out
            peer-focus:-top-2 peer-focus:text-sm peer-focus:text-blue-900
            peer-placeholder-shown:top-4 peer-placeholder-shown:text-sm sm:text-base

            peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-blue-900
            bg-white px-2">{{'propertyTax.fields.remarks' | translate}}
          </label>
        </div>

      </div>
    </div>

    <!-- SAVE BUTTON -->
    <div class="" (click)="onSave()">
      <button class="text-white px-6 py-3 text-base sm:text-lg rounded-md shadow-md opacity-90 hover:opacity-100 cursor-pointer
       bg-blue-900 transition duration-300 ease-in-out">
        {{'propertyTax.buttons.save' | translate}}
      </button>
    </div>

  </div>
</div>